<h1>Welcome to our PREMIUM parcel service</h1>

<form action="/parcel">
  <label for="length">Length of Parcel: </label>
  <input type="number" name="length" placeholder="Length in inches"><br>
  <label for="width">Width of Parcel: </label>
  <input type="number" name="width" placeholder="Width in inches"><br>
  <label for="height">Height of Parcel: </label>
  <input type="number" name="height" placeholder="Height in inches"><br>
  <label for="maxDays">Maximum days for delivery: <small>discount for more than 20 days</small> </label>
  <input type="number" name="maxDays" placeholder="Maximum Days"><br>
  <label for="distance">Distance of delivery: </label>
  <input type="number" name="distance" placeholder="Distance in miles"><br>
  <label for="weight">Weight of Parcel: </label>
  <input type="number" name="weight" placeholder="Weight in lbs"><br>
  <label for="wrap">Do you want wrapping service?</label>
  <input type="checkbox" name="wrap"><br>
  <button type="submit" name="button">Calculate</button>
</form>

<div class="">
  <h2>Your parcel's total cost will be: $<%= @cost %></h2>
</div>
